<div class="text-center">
  <h1>All the restaurants we reviewed</h1>
  <hr>
  <div class="container">
    <div class="row">
      <% @restaurants.each do |restaurant| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <h3><%= restaurant.name %></h3>
          <p><%= restaurant.address %></p>
          <p><%= restaurant.phone_number %></p>
          <p><%= restaurant.category.capitalize %> food</p>
          <p>
            (<%= link_to "Reviews", restaurant_path(restaurant) %>,
            <%= link_to "edit", edit_restaurant_path(restaurant) %>,
            <%= link_to "delete", restaurant_path(restaurant), method: :delete %>)
          </p>
        </div>
      <% end %>
    </div>
  </div>
  <hr>
  <%= link_to "Add a new restaurant", new_restaurant_path, class: "btn btn-success" %>
</div>
