<div class="container text-center card">
  <h1><%= @restaurant.name %></h1>
  <div class="card-bg" style="background-image: url(<%= @restaurant.picture %>)"></div>
  <br>
  <%= link_to "Back to list", restaurants_path, class: "btn btn-primary" %>
  <hr>
  <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <p><%= @restaurant.address %></p>
        <p><%= @restaurant.phone_number %></p>
        <p><%= @restaurant.category.capitalize %> food</p>
      </div>
  </div>
  <div class="container text-center card card-gray">
    <div class="row">
      <div class="col-xs-12">
        <h4>All reviews</h4>
        <p>
          <% if @restaurant.reviews.length == 1 %>
            <%= @restaurant.reviews.length %> review
          <% else %>
            <%= @restaurant.reviews.length %> reviews
          <% end %>
        </p>
        <div>
          <%= link_to "Add a new review", new_restaurant_review_path(@restaurant), class: "btn btn-success" %>
        </div>
        <% @restaurant.reviews.each do |reviews| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="text-center card card-review">
              <div class="icon-badge icon-badge-blue"><%= reviews.rating %></div>
              <p ><%= reviews.content %><p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
