<div class="text-center">
  <h1><%= @restaurant.name %></h1>
  <hr>
  <%= link_to "Back to list", restaurants_path, class: "btn btn-primary" %>
  <hr>
  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <h3><%= @restaurant.name %></h3>
          <p><%= @restaurant.address %></p>
          <p><%= @restaurant.phone_number %></p>
          <p><%= @restaurant.category.capitalize %> food</p>
        </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <div class="text-center">
            <h4>Reviews about the restaurant</h4>
            <p>
              <% if @restaurant.reviews.length == 1 %>
                <%= @restaurant.reviews.length %> review
              <% else %>
                <%= @restaurant.reviews.length %> reviews
              <% end %>
            </p>
            <%= link_to "Add a new review", new_restaurant_review_path(@restaurant), class: "btn btn-success" %>
            <hr>
            <% @restaurant.reviews.each do |reviews| %>
              <div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <p><%= reviews.content %><p>
                  <p>Rating: <%= reviews.rating %>/5</p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
  </div>
</div>
